@import 'variables';
@import 'animate';
@import 'transition';

.accordion {
	padding: 0;
	margin: 0;
}

.accordion dl {
	cursor: pointer;
	font-size: $default-accordion-font-size;
}

.accordion {
	dl {
		& {
			dt {
				margin: 0;
				padding-left: 10px;
				color: $default-accordion-open-color;
			}

			i {
				margin-right: 5px;
				@include transition-property(all);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in-out);
			}

			dd {
				margin: 0;
				padding: 0px;
				overflow: hidden;
				@include transition-property(all);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in-out);	
			}

			dd a {
				padding: 10px 20px;
				display: block;
				width: 100%;
				border-bottom: 1px solid $default-accordion-border-color;
			}
		}

		&.close {
			dt {
				color: $default-accordion-close-color;
			}

			i {
				transform: rotate(-90deg);
			}

			dd {
				height: 0;
			}
		}
	}
}