@import 'variables';

div.panel {
    border: 1px solid $default-border-color;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .title {
        background-color: $default-background-color;
        color: $default-font-color-with-background;
        font-size: $default-title-font-size;
        width: 100%;
        height: $default-title-font-size + 12px;
        line-height: $default-title-font-size + 12px;
        text-indent: 10px;
        vertical-align: middle;

        i.right {
            float: right;
            margin-right: 10px;
            margin-top: 6px;
            font-size: $default-title-font-size;
            cursor: pointer;

            &:after {
                clear: both;
            }
        }
    }

    .content {
        font-size: $default-font-size;
        color: $default-font-color;
        margin: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
    }
}
